*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
}

.circle{
 background-color: rgb(164, 158, 247);
 width: 100px;
 height:100px;

 border-radius: 50%;
}

.circle2{
 background-color: rgb(0, 0, 0);
 width: 100px;
 height:100px;

 border-radius: 50%;
}

.circle3{
 background-color: rgb(255, 204, 251);
 width: 100px;
 height:100px;
 
 border-radius: 50%;
}

.circle4{
    background-color: rgb(255, 204, 251);
    width: 100px;
    height:100px;
    
    border-radius: 50%;
   }