* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 text-decoration: none;
} 
   
/* Inicio de imagen y nombre de la página*/
body {
 margin: 0;
 background-color: rgb(245, 245, 245);
}
   
header {
 background-color: #7e6514;
 color: white;
 padding: 0 3%;
}
   
.header {
 display: flex;
}
   
header > h1 {
 display: inline-block;
 margin-left: 10px;
 margin-top: 20px;
 font-family: 'Bebas Neue', cursive;
 color: #ffffff;
 letter-spacing: 1.5px;
 font-size: 40px;
 text-shadow: 10px 10px 10px #050505;
}
   
#logo {
 width: 90px;
}
/* Fin de imagen y nombre de la página*/
   
/* Inicio de barra de navegación*/
nav {
 margin: 0;
 list-style-type: none;
 padding: 0;
 overflow: hidden;
 background-color: rgb(20, 20, 20);
}
   
.nav {
 display: flex;
 list-style: none;
}
   
.items-nav {
 font-size: 10px;
 text-transform: uppercase;
 width: max-content;
}
   
.items-menu {
 float: left;
 display: block;
 color: #fff;
 text-align: center;
 text-decoration: none
}
   
/* Inicio de cambio de color*/
.btn-neon {
 position: relative;
 display: inline-block;
 padding: 15px 30px;
 color: #fff;
 letter-spacing: 4px;
 font-size: 20px;
 transition: 0.2s;
}
         
.btn-neon:hover { 
 background: rgb(216, 219, 187);
 box-shadow: 0 0 0 rgb(216, 219, 187), 0 0 40px 
 rgb(216, 219, 187), 0 0 100px rgb(216, 219, 187);
 transition-delay: 1s;
}
         
.btn-neon span {
 position: absolute;
 display: block;
}
         
#span1 {
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, rgb(223, 207, 155));
}
         
.btn-neon:hover #span1 {
 left: 100%;
 transition: 1s;
}
         
.btn-neon2 {
 position: relative;
 display: inline-block;
 padding: 15px 30px;
 color: #fff;
 letter-spacing: 4px;
 font-size: 20px;
 transition: 0.2s;
}
         
.btn-neon2:hover {
 background: rgb(216, 219, 187);
 box-shadow: 0 0 10px rgb(216, 219, 187), 0 0 40px 
 rgb(216, 219, 187), 0 0 80px rgb(216, 219, 187);
 transition-delay: 0.3s;
}
   
.btn-neon3 {
 position: relative;
 display: inline-block;
 padding: 15px 30px;
 color: #fff;
 letter-spacing: 4px;
 font-size: 20px;
 transition: 0.2s;
}
            
.btn-neon3:hover {
 background: rgb(216, 219, 187);
 box-shadow: 0 0 10px rgb(216, 219, 187), 0 0 40px 
 rgb(216, 219, 187), 0 0 80px rgb(216, 219, 187);
 transition-delay: 0.3s;
}
/* Fin de cambio de color*/
/* Fin de barra de navegación*/

.parrafo {
 font-family: 'Alumni Sans', sans-serif;
 text-align: center;
 font-size: 25px;
 padding-top: 40px;
 padding-bottom: 15px;
}

form {
 width: 200px;
 margin: 20px auto;
}

input {
 width: 100%;
 padding: 10px;
}

.poke-card {
 position: relative;
 height: fit-content;
 font-family: 'Rampart One', cursive;
 font-size:25px; 
 max-width: 300px;
 border-radius: 4px;
 text-align: center;
 padding: 10px;
 margin: 0 auto;
 background-color: rgb(255, 255, 255);
 border: 1px solid black;
}

.poke-card::before {
 content: '';
 background: radial-gradient(rgb(189, 182, 63) 33%, transparent 33%);
 background-size: 3px 3px;
 border-radius: 4px;
 height: 100%;
 width: 100%;
 position: absolute;
 left: 10px;
 top: 10px;
 z-index: -1;
}

.img-container {
 position: relative;
 width: 180px;
 margin: 10px auto;
}

.poke-stats div {
 display: flex;
 justify-content: space-between;
 align-content: space-between;
 padding: 5px;
 font-size: 18px;
}

.poke-types div {
 padding: 5px;
 margin: 5px;
 border-radius: 4px;
 border: 1px dashed black;
}

.poke-img {
 width: 180px;
 border-radius: 50%;
}

.hi {
 padding-bottom: 25px;
}

/*INICIO: FOOTER*/
footer {
 width: 100%;
 padding: 20px 0px;
 background-color: rgb(58, 57, 57);
}

.contenido-footer {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 max-width: 1200px;
 margin: auto;
}

.box-footer {
 display: flex;
 flex-direction: column;
 padding: 40px;
}

.box-footer .img {
 background-color: white;
 width: 130px;
 height: 50px;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
}

.box-footer .terms {
 max-width: 350px;
 margin-top: 20px;
}
/*FIN:FOOTER*/
/*INICIO: Responsive*/
/* INICIO: Dispositivo con un ancho máximo de 500px */
@media screen and (max-width:500px) {
.nav{
 height: auto;
 display: flex;
 flex-direction: column;
}
   
.items-nav {
 margin-top: 5px;
 margin-bottom: 5px;
 margin-left: 0;
 margin-right: 0;
}
   
.items-menu {
 justify-content: space-between;
 align-items: center;
}
   
.header {
 padding: 0;
 margin-bottom: 10px;
 justify-content: space-between;
 align-items: flex-start;
}
   
#logo {
 display: none;
}
}
/* FIN: Dispositivo con un ancho máximo de 500px */
