*{
 padding: 0;
 margin: 0;
   }

h1{
 font-size: 50px;
 text-align: center;
 border: 5px solid rgb(208, 255, 219);

 padding: 15px;
 
 background-color: rgb(198, 245, 229);
}

.caja{
 height: 300px;
 width: 150px;
 border: 10px solid rgb(59, 59, 59);

 padding: 30px;

 background-color: rgb(146, 73, 73);

 margin-top: 40px;
 margin-bottom: 20px;
 margin-left: 20px;
}

.caja2{
 height: 300px;
 width: 150px;
 border: 10px solid rgb(82, 28, 82);

 background-color: rgb(150, 67, 109);

 padding: 20px;

 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 755px;
}

.caja3{
 height: 300px;
 width: 150px;
 border: 10px solid rgb(103, 245, 255);

 background-color: rgb(167, 236, 245); 

 padding: 10px;

 margin-top: 20px;
 margin-bottom: 40px;
 margin-left: 20px;
}