*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.main{
 display: flex;
}

.lado_izq{
 background-color: rgb(203, 186, 219);
 width: 50vw;
 height: 100vh;
}

.header{
 display: flex;
 flex-direction: column;
 height: 100%;
 justify-content: space-around;
}

.Titulo{
 text-align: center;
 font-size: 80px;
 font-family: 'Unica One', cursive;
 text-shadow: 5px 5px 5px #7a7a7a;
}

.subtitulo{
 text-align: center;
 font-size: 45px;
 font-family: 'VT323', monospace;
}

.nombre{
 text-align: center;
 font-family: 'Nixie One', cursive;
 text-shadow: 5px 5px 5px #7a7a7a;
}

.lado_der{
 width: 50vw;
 height: 100vh;
}

.uno{
 font-size: 20px;
 color: white;
 text-align: center;
}


summary{
 font-family: 'Courier New', Courier, monospace;
 font-size: 50px;
 text-shadow: 5px 5px 5px #7a7a7a;
}

.ul{
 list-style-type: none;
}

a {
 font-size: 38px;
 text-decoration: none;
 color: rgb(121, 103, 24);
}

.imagen {
 width: 350px;
 height: 210px;
 padding-top: 50px;
 margin:10px auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
 .lado_izq {
  background-color: rgb(236, 199, 233);
 }

 summary {
  font-size: 30px;
 }

 a {
  font-size: 17px;
 }
}
 @media screen and (min-width: 1025px){
 summary {
  font-size: 30px;
 }

 a {
  font-size: 19px;
 }
}