*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.main{
 display: flex;
}

.lado_izq{
 background-color: rgb(203, 186, 219);
 width: 50vw;
 height: 100vh;
}

.header{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.Titulo{
 font-size: 80px;
 text-align: center;
}

.subtitulo{
 font-size: 50px;
}

.nombre{
 font-size: 20px;
}

.header{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.Titulo{
 font-size: 80px;
 text-align: center;
}

.subtitulo{
 font-size: 50px;
}

.nombre{
 font-size: 20px;
}

.lado_der{
    width: 50vw;
    height: 100vh;
}

