* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
} 
   
/* Inicio de imagen y nombre de la página*/
body {
 margin: 0;
 background-color: rgb(245, 245, 245);
}
   
header {
 background-color: #7e6214;
 color: white;
 padding: 0 3%;
}
   
.header {
 display: flex;
}
   
header > h1 {
 display: inline-block;
 margin-left: 10px;
 margin-top: 20px;
 font-family: 'Titillium Web', sans-serif;
 color: #ffffff;
 letter-spacing: 1.5px;
 font-size: 40px;
 text-shadow: 10px 10px 10px #050505;
}
   
#logo {
 width: 90px;
}