* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}   
   
/* Inicio de barra de navegación*/
body {
 margin: 0;
 background-color: rgb(255, 255, 255);
}

.header {
 background-color: #14777e;
 height: 80px;
 width: 100%;
 top: 0;
 left: 0;
}

.nav {
 display: flex;
 justify-content: space-between;

 max-width: 992px;
 margin: 0 auto;
}

.nav-link {
 color: rgb(0, 0, 0);
 text-decoration: none;
}

.logo {
 font-size: 25px;
 font-weight: bold;
 padding: 5px;
 line-height: 80px;
 font-family: 'Titillium Web', sans-serif;
}

.nav-menu {
 display: flex;
 width: auto;
 float: right;
 margin-right: 5px;
 list-style: none;
}

.nav-menu-item {
 font-size: 15px;
 margin: 0 10px;
 line-height: 80px;
 text-transform: uppercase;
 width: max-content;
}

.nav-menu-link {
 padding: 9px 12px;
 border-radius: 15px;
}

.nav-menu-link:hover {
 background-color: rgb(190, 247, 255);
 transition: 1s;
}

.nav-toogle {
 color: white;
 background: none;
 border: none;
 font-size: 30px;
 padding: 0 20px;
 line-height: 60px;
 display: none;
}
/* Fin de cambio de color*/
/* Fin de barra de navegación*/
   
.main {
 padding-left: 20px;
 padding-top: 40px;
 padding-bottom: 20px;
 padding-right: 20px;
}
   
/*Contenido*/
.contenedor {
 justify-content: center;
}

.h2 {
 padding-top: 20px;
}
   
h2 {
 font-family: 'Poiret One', cursive;
 text-align: center;
 font-size: 50px;
 text-shadow: 5px 5px 5px #313131;
}
   
.centrado {
 width: 360px;
 height: 250px;
 padding-top: 50px;
 margin:10px auto;
 display:block;
}
   
.Texto1 {
 padding-top: 70px;
 text-align: center;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 35px;
}
   
.Texto2 {
 padding-top: 30px;
 text-align: center;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 23px;
 padding-bottom: 25px;
}
   
.centrado2 {
 padding-top: 50px;
 padding-bottom: 50px;
 margin:10px auto;
 display:block;
 border-top-left-radius: 30px;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-top-right-radius: 30px;
}
   
    /* Inicio de Boton*/
.boton {
 background-color: #490a0a;
 color: #fff;
 font-family: 'Russo One', sans-serif;
 margin:10px auto;
 display:block;
 width: 100px;
 height: 50px;
 border: 3px solid #490a0a;
 border-top-left-radius: 30px;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-top-right-radius: 30px;
 transition-duration: 0.4s;
 padding-top: 10px;
 padding-bottom: 10px;
 font-weight: bolder;
 text-shadow: 0.5px 0px 5px #080808;
}
   
.boton:hover {
 background-color: #080808;
 border: 3px solid #000000;
 box-shadow: 0 8px 16px 0 rgb(104, 104, 104), 
 0 6px 20px 0 rgb(104, 104, 104);
}
/* Fin de Boton*/
/*Fin de contenido*/

/*INICIO: Responsive*/

@media screen and(max-width: 500px) {
 .nav {                 /*Clase nav */
  padding: 0px;
  widht: 100%;
  height: auto;
  flex-direction: column;
 } 

 .nav-menu {            /* Clase ítems-nav */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  width: 80px;
 }

 .nav-menu-item {       /* Clase ítems-menu */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }

 .nav-menu-link {       /* Clase ítem */
  width: 90%;
  margin-bottom: 30px;
  flex-direction: column;
 }

 .header {             /* Clase header */
  padding: 0px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
 }
}

@media screen and (min-widht: 505px) {
 .nav-menu-link {        /* Clase ítem */
  width: 70%;
 }

  nav {                  /*Elemento nav */
  top: 120px;
 }
}

@media screen and (min-widht: 700px) {
 .nav-menu-link {        /* Clase ítem */
  width: 70%;
 }

 nav{
    height: 120px;
 }
}
/*FIN: Responsive*/